<div class="container my-4" *ngIf="customers">
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let c of customers._embedded.customers">
        <td>{{c.id}}</td>
        <td>{{c.name}}</td>
        <td>{{c.email}}</td>
        <td>
          <button class="btn btn-primary" (click)="getOrders(c)">
            <i class="bi bi-box"></i> Orders
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
